
        <!--充值页面弹框部分-->
        <div class="recharge-box toast-box">
            <div class="del"></div>
            <div class="recharge-t">
                <div>
                    <div class="recharge-icon1"></div>
                    <div class="recharge-text">100金币</div>
                    <div class="recharge-btn1"></div>
                </div>
                <div>
                    <div class="recharge-icon2"></div>
                    <div class="recharge-text">200<i>+10</i>&nbsp;金币</div>
                    <div class="recharge-btn2"></div>
                </div>
                <div>
                    <div class="recharge-icon3"></div>
                    <div class="recharge-text">400<i>+40</i>&nbsp;金币</div>
                    <div class="recharge-btn3"></div>
                </div>
                <div>
                    <div class="recharge-icon4"></div>
                    <div class="recharge-text">1000<i>+120</i>&nbsp;金币</div>
                    <div class="recharge-btn4"></div>
                </div>
            </div>
            <div class="recharge-b"></div>
        </div>
        